body{
	background: url("../img/bg.jpg");
}
a{
	text-decoration:none;
}
.container{
	min-width: 720px;
}
.nav-head{
	background-color:#373737;
	height: 55px;
	padding-top: 18px;
	font-size: 13px;
}
.nav-item span{
	margin-left: 5%;
	color:white;
}
.nav-item span a{
	color: white;
	text-decoration:none;
	cursor: pointer;
}
.modal.fade.in {
 top: 30%;
}
.flexslider .slides ul li img{
	width:100%;
}
.modal-backdrop{background-color: transparent;}
#modalBox{
	width: 500px;
	height: 250px;
	background: rgba(0,0,0, 0.6);

	margin-left: auto;
	margin-right: auto;
}
#modalBox .modal-dialog{
	background: rgba(255,255,255,0.9);
	width: 460px;
	height: 200px;
	margin-top: 20px;
}
#modalBox .boxHeader span{
	background-color: #848484;
	display: inline-block;
	width: 231px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	margin-right: -5px;
	padding-top: 8px;
	color: white;
	margin-bottom: 5px;
}
#modalBox .boxHeader span:hover{
	cursor: pointer;
}
#modalBox .boxHeader .active{
	background-color: #444444;
}
#modalBox .boxContent .formItem{
	margin-top: 15px;
	margin-left: 30px;
}
#modalBox .boxContent .formText{
	width: 105px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
}

#modalBox .boxContent .formArea input{
	width: 150px;
}
#modalBox .boxContent .formAreaHalf input{
	  width: 62px;
  }
#modalBox .boxContent .formAreaHalf span{
	width: 90px;
	font-size: 10px;
	background: rgba(96,96,96,0.6);
	margin-left: -5px;
	color: white;
	display: inline-block;
	line-height: 28px;
	text-align: center;

}
#modalBox .boxContent .errorText{
	font-size: 12px;
	margin-top: 12px;
	color: red;
}
#modalBox .boxContent .signIn{
	 background-color: #4d4d4d;
	 width: 70px;
	 height: 70px;
	 color: white;
	 margin-left: 330px;
	 margin-top: -117px;
	 font-size: 16px;
 }
#modalBox .boxContent .signUp{
	background-color: #4d4d4d;
	width: 70px;
	height: 70px;
	color: white;
	margin-left: 330px;
	margin-top: -117px;
	font-size: 16px;
}
/***********************************************index页面********************************************/
.fixBox{
	width:20%;
	height: 80px;
	background: rgba(96,96,96,0.9);
	position: absolute;
	top:57%;
	left: 42%;
	text-align: center;
}
.fixBox h1{
	color: white;
	font-style:oblique;
	font-weight: bold;
	font-size: 32px;
	margin-top: 8px;


}
.fixBox h3{
	color: white;
	font-size: 14px;
	font-style:oblique;
	margin-top: 0;
}
.fixButton{
	width:30%;
	height: 80px;
	position: absolute;
	top:73%;
	left: 34%;
	text-align: center;
}
.fixButton span{

	border-style: solid;
	border-color: rgba(96,96,96,0.8);
	border-radius: 50%;
	display: inline-block;
	width:60px;
	height: 60px;
	margin-left: 15%;


}
.fixButton .circleButton a{
	display: block;margin-left: 11px;margin-top: 6px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	color: #444444;
	line-height: 20px;
}
/*.fixButton .circleButton a:hover{*/
	/*　　-webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;*/
	/*　　border-color:rgba(141,39,142,.75);*/
	/*　　-webkit-box-shadow:0 0 18px rgba(111,1,32,3);*/
/*}*/
/***********************************************choose页面********************************************/
.chooseContent{
	margin-top: 6%;
}
.chooseContent .teePic img{
	width:80% ;
}
.chooseContent .teeArea{
	margin-top: 8%;
}
.chooseItem{
	margin-top: 20px;
}
.chooseItem span{
	display: inline-block;
}
.chooseItem .chooseText{
	color: #373737;
	width: 60px;
}
.chooseItem .chooseArea{
	margin-left: 30px;
}
.chooseItem .chooseOption .active{
	background-color: white;
	border-color: #00c43c;
	border-width: 3px;

}
.chooseOption span{
    width:80px;
	height: 30px;
	margin-right: -4px;
	background-color: #ebebeb;
	border-style: solid;
	border-width: 2px;
	border-radius: 15%;
	border-color: #e8e8e8;
	text-align: center;
}
.chooseOption span img{
	width: 30%;
}
.chooseItem .color span{
	width:53px;
	height: 30px;
}
.black{
	background: black!important;
}
.white{
	background-color: white!important;
}
.grey{
	background-color: #696969!important;
}