
.svg_select_points_lb{
    cursor: sw-resize;
}
.svg_select_points_rot{
    stroke-width:1;
    stroke:black;
    fill: #F9FFED;
    cursor: pointer;
}
.svg_select_points_rt {
    cursor: pointer;
}


.svg_select_boundingRect{
    stroke-width: 2;
    /* stroke-dasharray: 10 10; */
    stroke: white;
    stroke-opacity: 0.8;
    fill-opacity: 0.1;
    pointer-events: none;
     stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}